body,h1,h2,h3,h4,h5,h6,a,span,p{
    font-family: 'Work Sans', sans-serif;
}
img{
	max-width: 100%;
}

.main-bg{
	background: #f7f9ff;
}

    /* Header Section */

.my-header-title {
	font-size: 26px;
	font-weight: 600;
	height: 59px;
	transition: all .3s ease;
}
.navbar-brand:hover{
    color: #ddd !important;
}
.my-header-title span {
	background: #6278DF;
	color: white;
	height: 42px;
	display: inline-block;
	width: 44px;
	text-align: center;
	border-radius: 6px;
	font-size: 27px;
	position: relative;
	right: 5px;
}
.my-menu .nav-link {
	font-size: 17px;
	display: inline-block;
	padding-left: 21px !important;
	padding-right: 10px !important;
}
.my-menu .navbar-nav {
	margin-left: 114px !important;
}
.my-menu .btn {
	background: white;
	border: 2px solid #6278df;
	color: #6278df;
	font-weight: 700;
	font-size: 15px !important;
	width: 122px;
	transition: all .4s ease;
}
.py-5 {
     padding-top: 0rem!important; 
     padding-bottom: 0rem!important; 
}
.my-menu .btn:hover{
    background: #6278df;
    color: white;
    box-shadow: 3px 3px 27px -3px #6278df;
}
.my-menu ul li a{
	color: black !important;
}
.my-menu ul li a:hover{
	color: #6278df !important;
}
.my-menu ul li ul li{
	border-bottom: 1px solid #ddd;
}
.my-menu ul li ul li:last-child{
	border-bottom: none;
}
.my-menu ul li ul li a:hover{
	color: #6278df !important;
	background: white;

}
    /* Slider Section */

.slider-section{
    background: url(https://mobirise.com/extensions/appamp/assets/images/04.jpg) no-repeat center center;
    background-size: cover;
    padding: 163px 0;
    position: relative;
    z-index: 1;
}
.slider-section::after{
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.548);
    position: absolute;
    left:0;
    top:0;
    z-index: -1;
}
.slider-caption h4 {
	color: white;
	margin-bottom: 38px;
	font-size: 31px;
	font-weight: 299;
}
.slider-caption h1 {
	font-size: 48px;
	font-weight: 600;
	color: white;
	margin-bottom: 59px;
}
.slider-section .btn {
	color: #fff;
	background: #5ba533;
    border: 1px solid transparent;
    padding: 14px;
	font-size: 26px;
	font-weight: 600;
    width: 280px !important;
    transition: .5s;
	margin-top: 20px;
}
.slider-section .btn:hover{
    background: white;
    color: #6278df;
    box-shadow: 3px 3px 27px -3px #6278df;

}
.slider-caption .form-control {
	width: 280px !important;

	padding: 19px;
    border: 1px solid #5ba533;
    transition: .5s;
}
.slider-caption .form-control:focus{
    box-shadow: 3px 3px 27px 2px #455dca;
    border: 1px solid #6278df;

}

	/* Number Counter Section */

.number-counter-section {
	margin-top: 4.5rem !important;
}
.number-counter-item h3 {
	font-size: 3.5rem;
	font-weight: 600;
}
.number-counter-item p {
	font-size: 1.4rem;
}

	/* About Section */

.about-section {
	background: #f7f9ff;
	padding-top: 17px;
	padding-bottom: 65px !important;
}
.about-text-left {
	margin-top: 192px;
	margin-right: 0rem;
}
.about-text-left h1 {
	font-size: 3rem;
	font-weight: 600;
}
.about-text-left p {
	font-size: 1.4rem;
	font-weight: 400;
}

	/* Feature Section */

.feature-section{}
.feature-text {
	margin-top: 40px;
}
.feature-text h1 {
	font-size: 3.1rem;
}
.feature-text p {
	font-size: 1.6rem;
	font-weight: 333;
	color: #767676;
}

.feature-item {
	height: 254px;
	box-shadow: 2px 3px 11px -4px rgba(0,0,0,.1);
	margin-right: 2%;
	transition: all .4s ease;
}
.feature-item:hover{
	box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
}
.f-img-sec {
	width: 40%;
	overflow: hidden;
	border-radius: 5px 0 0 5px;
}
.f-img-sec img {
	height: 100%;
	width: auto !important;
	max-width: inherit;
	position: relative;
	left: -85px;
}
.img3 {
	left: -5px !important;
}
.img2 {
	left: -55px !important;
}
.img5 {
	left: -48px !important;
}
.f-text-sec {
	width: 60%;
	padding: 33px;
}
.f-text-sec p {
	font-size: 1rem;
	font-weight: 1;
}

	/* Portfolio Section */

.portfolio-section{
	margin-top: 90px;
}
.portfolio-section h1 {
	font-size: 45px;
	font-weight: 400;
	margin-bottom: 55px;
}
.porfolio-img {
	padding-right: 2%;
	padding-bottom: 2%;
}
.porfolio-img a{
	position: relative;
	display: block;
}
.porfolio-img a::after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	height: 92%;
	width: 100%;
	background: rgba(113, 125, 188,.7);
	opacity: 0;
	visibility: hidden;
	transition: all .4s ease;
}
.porfolio-img:hover a::after{
	opacity: 1;
	visibility: visible;
}

/* Pricing Section */
.pricing-section {
	padding-bottom: 4rem !important;
}
.pricing-section h1 {
	font-size: 3.6rem;
	letter-spacing: 1px;
	font-weight: 400;
}
.pricing-section p {
	font-size: 1.6rem;
	font-weight: 300;
}
.pricing-item{
	padding: 40px;
	box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
}
.pricing-item{
	margin-left: 2%;
}
.pricing-item h2 {
	font-size: 3rem;
}
.pricing-item h5 {
	font-size: 1.4rem;
	font-weight: 33;
}
.pricing-item ul {
	font-size: 23px;
	list-style: none;
	display: inline-block;
	line-height: 69px;
	font-weight: 233;
	color: #767676;
}
.pricing-item ul li {
	font-size: 22px;
}
.pricing-item ul li span {
	width: 38px;
	display: inline-block;
	color: #6278DF;
	font-size: 28px;
}
.pricing-button a {
	box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
	padding: 14px;
	width: 224px;
	height: 65px;
	font-size: 23px;
	color: #6278df;
	border: 1px solid transparent;
	border-radius: 6px;
	margin-bottom: 22px;
	transition: .4s;
	font-weight: 600;
}

.pricing-item:hover .pricing-button a{
	background: #6278df;
	color: white;
}

	/* Testimonial Secton */
.user-info {
	position: relative;
	top: 10px;
	left: 3px;
}
.man-info {
	width: 200px;
	text-align: center;
	display: inline-block;
	text-align: cenb;
}
.man-info img {
	width: 70px;
}
.man-info {
	width: 200px;
	text-align: center;
	display: inline-block;
	text-align: center;
	position: relative;
	bottom: 16px;
}
.user-info p {
	position: relative;
	top: -5px;
	right: 31px;
}
.text-muted.pb-4.myp{
	font-size: 26px;
	font-weight: 33;
	position: relative;
	bottom: 18px;
}
.text-muted.pb-4.my {
	font-size: 27px;
	font-weight: 4;
}
.testimonial-content h1 {
	font-size: 45px;
	font-weight: 400;
}
.testimonial-content span {
	font-size: 82px;
	position: relative;
	bottom: 10px;
	opacity: .1;
}

	/* About Section */

.about-section-title-text p {
	font-size: 20px;
	display: inline-block;
	line-height: 34px;
}
.about-section-title-text h2 {
	font-size: 47px;
	font-weight: 400;
	margin-bottom: 45px;
	padding-top: 29px;
}
.about-section-title-text h2 span{
	visibility: hidden;
	opacity: 0;
}
.about-item {
	margin-top: 92px;
	transition: .4s;
	margin-right: 2%;
}
.about-item img {
	width: 130px;
	margin-top: -68px;
	margin-left: 13px;
	box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
}
.about-item p {
	font-weight: 333;
	font-size: 17px;
}
.about-item .card {
	padding-bottom: 27px;
}
.card-body {
	padding-left: 28px;
	
}
.about-item .btn{
	font-weight: 500;
	transition: .3s;
}
.about-item .btn:hover{
	background: #465052;
	color: #fff;
}
.about-item:hover{
	box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
}

	/* Contact Section */

.contact-title h1 {
	font-size: 45px;
	font-weight: 400;
	margin-bottom: 73px !important;
}
.contact-title h6 {
	font-size: 23px;
	color: #767676;
}

.contact-section .card{
	padding: 30px;
	border-radius: 8px;
}
.contact-section .card input {
	height: 75px !important;
	transition: all .4s ease;
	border: 1px solid #e4e4e4 !important;
	box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
}
.contact-section .card input:focus{
	box-shadow: 3px 3px 27px -3px #6278df;
	border:1px solid #6278df !important;
}
.contact-section .card textarea {
	height: 232px;
	margin-top: 7px;
	transition: all .4s ease;
	border: 1px solid #e4e4e4 !important;
	box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
	
}
.contact-section .card textarea:focus{
	box-shadow: 3px 3px 27px -3px #6278df;
	border:1px solid #6278df !important;
}
.contact-section .card a {
	width: 180px;
	height: 63px;
	padding: 14px;
	border-radius: 5px;
	font-weight: 600;
	background: #6278df;
	transition: .4s;
	border: 2px solid transparent;
}
.contact-section .card a:hover{
	background: #fff;
	color: #6278df;
	border: 2px solid #6278df;
	box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.4);
}
.android-btn a {
	padding: 16px;
	width: 190px;
	color: #5BA533;
	background: #fff;
	border: 2px solid #5BA533;
	font-weight: 600;
	font-size: 22px;
	transition: all .4s ease;
	border-radius: 5px;
	border: 2px solid #5ba533;
}
.android-btn a:hover{
	background: #5BA533;
	color: white;
	box-shadow: 3px 3px 27px -3px #5ba533;
	border: 2px solid transparent;
}
.an-row{
	display: inline-block;
	margin: auto;
}
.android-btn .active {
	background: #5BA533 !important;
	color: white;
	box-shadow: 3px 3px 27px -3px #5ba533;
	border: 2px solid transparent !important;
	width: 204px;
}
.android-btn .active:hover{
	background: #000 !important;
	color: #fff !important;
	box-shadow: none !important;
}
.an-img img {
	width: 625px;
	margin-top: 11px;
}
.android-section h5 {
	font-size: 27px;
	font-weight: 44;
	color: #767676;
}
.android-section h1 {
	font-size: 45px;
	font-weight: 400;
}
.android-section {
	margin-top: 83px !important;
}


.footer p {
	font-size: 25px;
	color: #646262;
	padding-top: 14px;
}